<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsFirstproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div style="height: 10px;">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

  </head>

  <body>

    <%= render 'layouts/nav' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/foot' %>

  </body>
</html>
